/*
App Styles
----------

--------------------------------------------------------------------------------
 */

 
/*  App Theme
 */
//------------------------------------------------------------------------------
$black = #333
$white = #fff
$blue = #369
$blue-highlight = #3cf
$grey-mid = #ccc
$grey-dark = #999

$mobile-width = 800px
//------------------------------------------------------------------------------

/*  Basic Styles
 */
//------------------------------------------------------------------------------
*
  box-sizing: border-box

:root
  font-family: "Roboto", sans-serif
  font-size: 16px
  background: $white url("./assets/simple-bg.png")
  color: $black

html
body
  padding: 0
  margin: 0
  width: 100%
  height: 100%

a
  color: inherit
  text-decoration: none

select
  font-size: inherit

//------------------------------------------------------------------------------

/* App Style: Main Layout
 */
//------------------------------------------------------------------------------
#app
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  max-width: 50rem
  margin: 0 auto
  background: $white

#app > header
  flex: 0 0 auto

  .title
    color: $blue
    display: block
    text-align: center
  
  nav
    background: $blue
    color: $white
    text-transform: uppercase
    
    a
      display: block
      
    a:hover
      background: $blue-highlight
    
    ul
      display: flex
      flex-direction: row
      justify-content: center
      list-style: none
      margin: 0
      padding: 0
      
      @media (max-width: $mobile-width)
        flex-direction: column
      
      li
        flex: 0 0 auto
        margin: 0
        min-width: 8em
        line-height: 3em
        padding: 0
        text-align: center

#app > footer
  flex: 0 0 auto
  background: $blue
  color: $white
  
#app > main
  flex: 1 1 auto

//------------------------------------------------------------------------------

/*  Page Style: Home Page (List-type)
 */
//------------------------------------------------------------------------------
#app > main
  
  .filter-panel
    background: $grey-mid
    display: flex
    flex-direction: row
    justify-content: center
    padding: 1em
    
    @media (max-width: $mobile-width)
      flex-direction: column
    
    > span
      flex: 0 0 auto
      line-height: 2em
      
    > select
      flex: 0 0 auto
      margin: 0 1em
      
      @media (max-width: $mobile-width)
        margin: 0

  .sort-panel
    color: $grey-dark
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    padding: 1em
    
    span, a
      display: inline-block
      padding: 0.5em
      line-height: 1em
    
    a
      border-right: 1px solid $grey-dark
      
    a:last-child
      border-right: none
    
//------------------------------------------------------------------------------